@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;



.hero-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    img{
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }
}


.hero-index{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    .text-wrap{
        padding: 0rem 2rem;
    }
    h2{
        font-weight: 600;
        color: $txt2;
        font-family: "Raleway", sans-serif;
    }
    h1{
        color: $txt2;
    }
    .angle{
        position: absolute;
        bottom: 4rem;
        width: 8rem;
        filter: invert(63%) sepia(0%) saturate(0%) hue-rotate(28deg) brightness(96%) contrast(87%);
    }

}

.proizvodi-index{
    margin-top: 11.3rem;
    h2{
        margin-top: 7.4rem;
        margin-bottom: 2rem;
    }
    .container-2{
        background: $main2;
        display: flex;
        flex-direction: column;
        .col{
            height: 17rem;
            width: 29rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
            font-size: $textSm;
            font-weight: 500;
            }
        }
        .row:first-of-type{
            text-align: center;
            p{
                color: $txt3;
                margin-bottom: 8rem;
            }
        }
        .row:first-of-type{
            flex-direction: column;
        }
        .row{
            display: flex;
        }
        .row:nth-of-type(2){
            gap: 14rem;
            justify-content: center;
            margin-bottom: 11.3rem;
        }
        .row:nth-of-type(3){
            gap: 14rem;
            justify-content: center;
        }
        .product{
            img{
                width: 14.9rem;
                height: 11.6rem;
                margin-bottom: 2.6rem;
            }
        }
        .btn{
            margin: auto;
            margin-top:  10rem;
            margin-bottom: 8.2rem;

        }
    }
}

.kolekcije-index{
    .row:first-of-type{
        text-align: center;
        h2{
            height: 6.6rem;
            margin-top: 12.5rem;
            margin-bottom: 1.8rem;
        }
        p{
            color: $txt3;
            max-width: 83.8rem;
            margin: auto;
        }
        margin-bottom: 9rem;
    }
    .row:nth-of-type(2),.row:last-of-type{
        display: flex;
        gap: 20.9rem;
        justify-content: space-between;
        .col:first-of-type{
            width: 50rem;
            margin-top: 12.7rem;
            h4{
              font-family: "Raleway", sans-serif;
              color: $txt3;
              height: 3.6rem;
              margin-bottom: 4.3rem;
            }
            p{
                height: 11.2rem;
                margin-bottom: 11.8rem;
               color: $txt3;
            }
        }
        .col:last-of-type{
            width: 86rem;
            height: 56.7rem;
        
        }
    }
    .row:last-of-type{
        margin-top: 6.5rem;
    }
    .slider{
        position: relative;
        height: 100%;
        width: 100%;
        picture{
            position: absolute;
            height: 100%;
            width: 100%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

}

.showroom-index{
    .container-2{
        .row:first-of-type{
            text-align: center;
            h2{
                margin-top: 14.8rem;
                margin-bottom: 3.6rem;
            }
            p{
                max-width: 83.8rem;
                margin: auto;
                color: $txt3;
                margin-bottom: 6.9rem;
            }
        }
        .row:last-of-type{
            margin-bottom: 16.7rem;
            gap: 8rem;
            h5{
                font-family: "Raleway", sans-serif;
                font-weight: bold;
                height: 5.6rem;
            }
            .col{
                width: 45.6rem;
                p{
                    margin-top: 4.2rem;
                    color: $txt3;
                }
            }
            display: flex;
            justify-content: space-between;
            .img-wrap{
                height: 45.6rem;
                position: relative;
                img{
                    height: 100%;
                    object-fit: cover;
                }
            }
            svg{
                position: absolute;
                width: 5rem;
                height: 5rem;
                bottom: 2rem;
                right: 2rem;
            }
        }
    }
}

.info-index{
    .container-2{
        .row{
            display: flex;
            justify-content: space-between;
            .col{
                padding-bottom: 7rem;
                width: 73.8rem;
                background: $main1;
                p{
                text-align: center;
                transform: translateY(-2rem);
                }
                h3{
                    color: $txt1;
                    background: white;
                    width: 46.2rem;
                    margin: auto;
                    height: 8.4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateY(-4rem);
                    position: relative;
                }
                h3::after{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 0.7rem;
                    background: $main1;
                    position: absolute;
                    top: 0;
                }
                p{
                    color: $txt2;
                }
                svg{
                    width: 6rem;
                    height: 6rem;
                    path{
                        fill: #808080;
                    }
                }
            }
            .col:first-of-type{
                input{
                    background: none;
                    font-family: inherit;
                    color: $txt2;
                    border: none;
                    border-bottom: 1px solid $txt2;
                }
                input[type="text"]{
                    width: 37.8rem;
                }
                form{
                    display: flex;
                    justify-content: center;
                    gap: 2rem;
                }
            }
            .col:last-of-type{
                .social{
                    display: flex;
                    gap: 12rem;
                    justify-content: center;
                }
            }
            .social,form{
                margin-top: 4rem;
            }
        }
    }
}