@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;

header{
    position: fixed;
    left: 0;
    right: 0;
    background: black;
    z-index: 100;
}

nav{
    .menu-button{
        display: none;
        cursor: pointer;
    }

    .link-wrap{
        display: flex;
        gap: 12rem;
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 10rem;
        a{
            margin-top: 4.3rem;
            margin-bottom: 4.3rem;
            color: $txt2;
            font-weight: 600;
            letter-spacing: 0.16rem;
        }
        .rect{
            display: block;
            height: 12.2rem;
            width: 15.6rem;
            background: $rect;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

