@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;

button{
    background: none;
    border: none;
}

.btn{
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold !important;
    width: 20rem;
    height: 6rem;
}

