@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;

button{
    background: none;
    border: none;
}

.btn{
    cursor: pointer;
    font-family: inherit;
    width: 20rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.btn-primary{
    border: 1px solid $btn1;
}




