@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;



body{
  background-color: white;
}



img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container-2{
  max-width: 158.2rem;
  margin: auto;
}