@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


html {
  font-size: 62.5%;
}

body{
  font-family: "Raleway", sans-serif;
}


input,textarea{
  font-family: inherit;
  font-size: $text;
}


.logo{
  font-size: $logo;
}


ul{
  padding: 0rem;
  list-style: none;
}

div,
  li,
  i,
  button,
  label,
  input,
  p {
    font-size: $text;
  color: $txt1 ;
  text-wrap: balance;
  }

  p{
  line-height: 1.4;
  }


  a{
    text-decoration: none;
    font-size: $link;
  color: $txt1 ;
  }

 
  h1,h2,h3,h4,h5,h6{
    color: $txt1;
    font-weight: normal;
    font-family: "Abril Fatface", serif;
    margin: 0;
  text-wrap: balance;
  }

  h1 {
    font-size: $header1 ;
  }
  
  h2 {
    font-size: $header2;
  }
  h3 {
    font-size: $header3;
  }
  h4 {
    font-size: $header4;
  }
  h5 {
    font-size: $header5;
  }

  

 
  

