@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --main: #6527F0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

input,button,select{
    font-family: "Work Sans", sans-serif;
}

body{
    padding: 2rem;
    color: white;
    background: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-family: "Work Sans", sans-serif;
}

.table-wrap{
    border-radius: 0.8rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

table{
    background: white;
    color: black;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    border:1px solid rgb(255, 255, 255);
    width: 100%;
}



th{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


th,td{
    width: 14rem;
    text-align: center;
}
td{
    padding: 0.7rem;
    border-bottom: 1px solid rgba(58, 58, 58, 0.13);
}

table tr:last-of-type td{
    border: none;
}

tr{
    display: flex;
    max-width: fit-content;
}


table tr:first-of-type{
background: var(--main);
color: white;
border-radius: 0.8rem;
}

tr td:nth-child(odd) {
    background-color: #E9EBF7;
}


.wrap{
    background: white;
    font-size: 1.8rem;
    color: black;
    width: fit-content;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    .group{
        display: flex;
        align-items: center;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type="number"] {
    -webkit-appearance: textfield; 
    -moz-appearance: textfield; 
    appearance: textfield; 
}

input{
    height: 4rem;
    padding: 1rem;
    margin-right: 2rem;
    font-size: inherit;
    border-radius: 0.8rem;
    border: 1px solid rgba(58, 58, 58, 0.377);

}

input::placeholder{
    opacity: 1;
}



input:focus{
    outline: none;
}
select{
    height: 4rem;
    width: 8rem;
    padding-left: 1rem;
    font-size: inherit;
    border-radius: 0.8rem;
    background: white;
    border: 1px solid rgba(58, 58, 58, 0.377);
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    cursor: pointer;
}

button{
    cursor: pointer;
    margin-left: 2rem;
    height: 3.2em;
    padding-left: 3rem;
    padding-right: 3rem;
    background: var(--main);
    border-radius: 0.8rem;
    color: white;
    border: none;
    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;
}


  
  






@media(max-width:1600px){
    .table-wrap{
        width: 100rem;
        overflow-x: scroll;
        scrollbar-width: thin;
        scrollbar-color: #6527F0 #ddd;
    }
}



@media(max-width:1100px){
    html{
        font-size: 50%;
    }
    .group{
        gap: 2rem;
    }
    .wrap{
        width: 70vw;
        margin: 0rem 2rem;
        display: block ;
        .select-wrap,.input-wrap{
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 1rem;
        }
        input{
            width: 100%;
        }
        select{
            width: 100%;
        }
        button{
            margin-left: 0;
            width: 100%;
            margin-top: 2rem;
        }
    }
 

}

@media(max-width:900px){
    .table-wrap{
        width: 90vw;
    }
    html{
        font-size: 40%;
    }
}
