

  @mixin background{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @mixin breakpoint($point) {

    @if $point == desk {
      @media (max-width: 1650px) {
        @content;
      }
    }
    @if $point == tablet {
      @media (max-width: 1100px) {
        @content;
      }
    }

    @if $point == phone {
      @media (max-width: 620px) {
        @content;
      }
    }
    @if $point == sm {
      @media(max-width: 500px){
        @content
      }
    }
  }

