

// FONT SIZES YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY


$header1: clamp(1.9px,17vw,10rem); 
$header2: clamp(1.8px,13vw,5rem);
$header3: clamp(1.7px,12vw,3rem); 
$header4: clamp(1.6px,11vw,2.8rem);
$header5: clamp(1.6px,10vw,2.6rem);

$textSm: 1.4rem;
$textMd: 2rem;
$text: 1.8rem;
$link: 1.6rem;

$logo: 2.2rem;

$mainButton : 1.6rem;



// COLOR  YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

// BLACK AND WHTIE

$black:black;
$white:white;

// PRIMARY

$main1: black;
$main2: #F2F2F2;

$rect: #C1C1C1;


//TEXT

$txt1: black;
$txt2: white;
$txt3: #4C4C4C;;



// BUTTON

$btn1: black;
$btn2 :white;


$btn1-hover: black;
$btn2-hover: white;










