

// FONT SIZES YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY


$header1: 10rem; 
$header2: 5rem;
$header3: 3rem; 
$header4: 2.8rem;
$header5: 2.5rem;

$textSm: 1.4rem;
$textMd: 2rem;
$text: 1.8rem;
$link: 1.6rem;

$logo: 2.2rem;

$mainButton : 1.6rem;



// COLOR  YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

// BLACK AND WHTIE

$black:black;
$white:white;

// PRIMARY

$main1: black;
$main2: #F2F2F2;

$rect: #C1C1C1;


//TEXT

$txt1: black;
$txt2: white;
$txt3: #C1C1C1;



// BUTTON

$btn1: black;
$btn2 :white;


$btn1-hover: black;
$btn2-hover: white;










