@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;


@include breakpoint(desk){
    .rect{
        margin-left: 10.99rem;
        margin-right: 11.6rem;
    }
    nav{
        a{
            min-width: 15.2rem;
        }
        a:last-of-type{
            min-width: 22.5rem;
        }
    }
}

@include breakpoint(tablet){
    nav{
        .container{
            align-items: center;
            justify-content: space-between;
            padding: 0rem 2rem;
        }
        a:not(.social a){
            display: none;
        }
        a{
            margin-top: 0;
            width: fit-content;
            min-width: fit-content;
            display: flex;
            align-items: center;
        }
        a:last-of-type{
            min-width: fit-content !important;
            width: fit-content !important;
        }
        .social{
            display: flex;
            gap: 2.6rem;
            svg{
                width: 3.5rem;
                height: 3.5rem;
                path{
                fill: #808080 ;
                }
            }
        }
    }
    .menu-button{
        display: block !important;
        height: fit-content;
        background: none;
        .hamburger{
            display: flex;
            width: 6rem;
            height: 6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            .line{
                display: block;
                width: 90%;
                height: 0.5rem;
                background: #808080;
            }
        }
    }
    .rect{
        margin-left: 0rem;
        margin-right: 0rem;
        transform: translateX(1.8rem) scale(0.8,1);
        transform-origin: top;
    }
}