@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;

@include breakpoint(desk){
    nav{
        .link-wrap{
            gap: 10rem;
            }
            .container{
                padding: 0rem 14rem;
            }
    }
}

@media (max-width: 1350px) {
    nav{
        .link-wrap{
            gap: 6rem;
        }
        .container{
            padding: 0rem 6rem;
        }
    }
}

@include breakpoint(tablet){
    nav{
        .container{
            padding: 0rem 2rem;
            height: 10rem;
        }
        a{
            display: none !important;
        }
        .menu-button{
            margin-right: auto;
            display: block;
            background: none;
            padding: 0;
            .hamburger{
                display: block;
                width: 5.4rem;
                height: 5.4rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                .line{
                    display: block;
                    width: 100%;
                    height: 0.4rem;
                    background: #808080;
                }
            }
        }

    }
}

@include breakpoint(phone){
    nav{
        .rect{
            height: 10.2rem !important;
            width: 13.6rem !important;
        }
    }
}