@use '../1-helpers-colors/mixins' as *;
@use '../1-helpers-colors/variables' as *;

@include breakpoint(desk){
    nav{
        .link-wrap{
            gap: 10rem;
            }
            .container{
                padding: 0rem 14rem;
            }
    }
}

@media (max-width: 1350px) {
    nav{
        .link-wrap{
            gap: 6rem;
        }
        .container{
            padding: 0rem 6rem;
        }
    }
}

@include breakpoint(tablet){
    header{
        .phone{
            display: block;
        }
  background: rgba(0, 0, 0, 0.808);

    }
    .menu-icon{
        display: flex !important;
        margin-right: auto;
    }
    nav{
        .dropdown{
            display: none;
        }
        .container{
            padding: 0rem 2rem;
            height: 10rem;
        }
        a{
            display: none !important;
        }


    }
}

@include breakpoint(phone){
    nav{
        .rect{
            width: 13.6rem !important;
        }
    }
}

@media(min-width:1100px){
    .mobile-dropdown{
        display: none;
    }
}